#content {
    -fx-background-color: rgba(0, 0, 0, 0.14);
}

#urlInput, #loadPage {
    -fx-background-color: rgba(0, 0, 0, 0.24);
}

#list {
    -fx-background-color: rgba(0, 0, 0, 0.24);
    -fx-background-radius: 5px;
}

#list:selected {
    -fx-background-color: red;
}

#list .list-cell{
    -fx-background-color: rgba(0, 0, 0, 0.15);
    -fx-text-fill: white;
}

#list .cell:selected{
    -fx-background-color: white;
    -fx-text-fill: black;
}

#urlInput {

}

#separator .line{
    -fx-border-width: 1px;
    -fx-border-color: rgba(0, 0, 0, 0.26);
}

#configuration {
    -fx-background-radius: 5px;
}

#loadPage {

}